# Node
node_modules/
npm-debug.log*
package-lock.json

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Allure
allure-results/
allure-report/

.DS_Store

# Reports
pdf-report/
coverage/

# Logs
logs/
*.log

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Cache
.nyc_output/
.cache/
.wdio-internal-cache.js/

# Build
dist/
build/